In [1]:
import os
import pandas as pd
os.chdir('D:\Loveforlearning_books\jobs_varsha\Practice_10jan')

In [2]:
cars_data= pd.read_csv('Toyota.csv' , index_col = 0 , na_values =['??','????'] )

In [3]:
cars_data2 = cars_data.copy()
cars_data3 = cars_data2.copy()

In [4]:
##count of missing values in each column 
cars_data2.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [5]:
missing = cars_data2[cars_data2.isnull().any(axis=1)] ##to get the rows with missing values

In [6]:
## missing values to be filled up by mean / median incase of numerical variable 
## by maximum count of the variable in case of categorical variable 

cars_data2.describe() ##statistical description excluding nan values

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
count,1436.000000,1336.000000,1421.000000,1430.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,68647.239972,101.478322,0.674961,0.055710,1566.827994,1072.45961
std,3626.964585,18.589804,37333.023589,14.768255,0.468572,0.229441,187.182436,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,43.000000,43210.000000,90.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,60.000000,63634.000000,110.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87000.000000,110.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,1615.00000

In [7]:
## 25% represents no of cars whose which are 25% of cars whoce pricece is less tahn 25% . 
## Imputing missing values of Age 
#mean of age = 55.67

cars_data2['Age'].fillna(cars_data2['Age'].mean(), inplace = True)

In [8]:
cars_data2['KM'].fillna(cars_data2['KM'].median(), inplace = True)

In [9]:
cars_data2['HP'].fillna(cars_data2['HP'].mean(), inplace = True)

In [10]:
cars_data2.isnull().sum() ## to check if the missing values are filled..

Price          0
Age            0
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [11]:
## to fill categorical variable. use value_ counts or mode. 
cars_data2['FuelType'].value_counts()

Petrol    1177
Diesel     144
CNG         15
Name: FuelType, dtype: int64

In [20]:
cars_data2['FuelType'].fillna(cars_data2['FuelType'].value_counts().index[0], inplace= True)

In [21]:
cars_data2['MetColor'].value_counts()

1.0    868
0.0    418
Name: MetColor, dtype: int64

In [22]:
cars_data2['MetColor'].fillna(cars_data2['MetColor'].value_counts().index[0] , inplace = True)

In [23]:
cars_data2.isnull().sum() ## to check if the missing values are filled..

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

In [24]:
##To fill the missing values in all columns in one shot.. using lambda function 
cars_data3.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [25]:
cars_data3 = cars_data3.apply(lambda x:x.fillna(x.mean() if x.dtype == 'float' else x.fillna(x.value_counts().index[0])))

In [26]:
cars_data3.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64